image: python:3.10.2

 
stages:
  - check
  - build
  - deploy
 
build_docs:
  stage: build
  script:
    - python -m pip install --upgrade pip
    - pip install --no-cache-dir -r requirements.txt
    - mkdocs build --clean
  artifacts:
    paths:
      - site
  only:
    - merge_requests
    - master
    - /^gitlab-create-pipeline/
    - /^release.*/
    - /^feature.*/
  tags:
    - hk-docker

deploy_docs:
  stage: deploy
  script:
    - mkdir -p /srv/docs-build
    - cd /srv/docs-build
    - echo "${GITHUB_URL}"
    - git clone "${GITHUB_URL}"
    - git config --global user.email "${GITHUB_EMAIL}"
    - git config --global user.name "${GITHUB_USERNAME}"
    - cd docs-build
    - git checkout master
    - cp -fr site/* /srv/docs-build/docs-build/iot/en
    - git add .
    - git commit -m  "${COMMIT_MESSAGE}"
    - git push origin HEAD:master
  tags:
    - hk-docker

  dependencies:
    - build_docs

  only:
    - merge_requests
    - master
    - /^gitlab-create-pipeline/


include:
  - project: 'gl.devops/cicd-template'
    ref: master
    file:
      - '/common/verify-commit-email/.gitlab-ci.yml'
      - '/common/commitlint/.gitlab-ci.yml'
      - '/common/sonarqube/.gitlab-ci.yml'
