image: python:latest
 
stages:
  - check
  - build
  - deploy
 
build_docs:
  stage: build
  script:
    - pip install -i https://pypi.tuna.tsinghua.edu.cn/simple mkdocs
    - pip install -i https://pypi.tuna.tsinghua.edu.cn/simple mkdocs-material
    - mkdocs build --clean
  artifacts:
    paths:
      - site
  only:
    - merge_requests
    - master
    - /^gitlab-create-pipeline/
    - /^release.*/
    - /^feature.*/

deploy_docs:
  stage: deploy
  script:
    - mkdir -p /srv/docs-build
    - cd /srv/docs-build
    - git clone "${GITHUB_URL}"
    - git config --global user.email "devops@gl-inet.com"
    - git config --global user.name "glzhitong"
    - git checkout master
    - cp -fr /root/docs-build/iot/en/* /srv/docs-build/
    - git add .
    - git commit -m "feat: update iot docs"
    - git push origin HEAD:master

  dependencies:
    - build_docs

  only:
    - merge_requests
    - master
    - /^gitlab-create-pipeline/


include:
  - project: 'gl.devops/cicd-template'
    ref: master
    file:
      - '/common/verify-commit-email/.gitlab-ci.yml'
      - '/common/commitlint/.gitlab-ci.yml'
      - '/common/sonarqube/.gitlab-ci.yml'


