# Repository
repo_name: gl-inet/docs-iot
repo_url: https://github.com/gl-inet/docs-iot
edit_uri: ""

site_name: GL.iNet IoT Docs
site_description: Documentation for GL.iNet IoT Productions
site_author: GL.iNet
site_url: https://docs.gl-inet.com/iot/en/
site_dir: /root/docs-build/iot/en/
copyright: Copyright &copy; 2024 GL Technologies & Microuter Technologies

theme: 
  name: material
  logo: images/logo_white.svg
  custom_dir: overrides
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.top
  palette:
    - scheme: default
      primary: light green
      accent: indigo
  favicon: images/favicon.png

# Plugins
plugins:
  - search

# Customization
extra:
  # analytics:
  #   provider: google
  #   property: G-CB08JFHVHT
  social:
    - icon: fontawesome/solid/globe
      link: https://www.gl-inet.com
    - icon: fontawesome/brands/github
      link: https://github.com/gl-inet/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/gl.inet.wifi/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/GLiNetWiFi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/gl-inet.com/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCBfNEzurltlIeFFCbUgHQyg
    - icon: fontawesome/brands/pinterest
      link: https://www.pinterest.com/glinetWiFi/

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css
  - https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css

  # we can use the cdn or files
  # - stylesheets/photoswipe.min.css
  # - stylesheets/default-skin.min.css
  - stylesheets/extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js
  - https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js
  - https://www.gl-inet.com/js/cookieconsent.js
  # we can use the cdn or files
  # - javascripts/photoswipe.min.js
  # - javascripts/photoswipe-ui-default.min.js
  - javascripts/extra.js

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - toc:
      permalink: true
  - admonition

nav:
  - Home: index.md
  - BLE Proxy:
    - GL-S10: 
      - Overview: ble_proxy/gl-s10/index.md
      - Hardware: ble_proxy/gl-s10/hardware.md
      - User Manual: ble_proxy/gl-s10/user_manual.md
      - Firmware Compilation Guide: ble_proxy/gl-s10/firmware_compilation_guide.md
      - AWS Configuration Guide: ble_proxy/gl-s10/aws_configuration_guide.md
      - Flash Guide: ble_proxy/gl-s10/flash_guide.md
      - HA Integration Guide: ble_proxy/gl-s10/ha_integration_guide.md
  - Thread Board Router:
    - GL-S20:
      - General Product Introduction: thread_board_router/gl-s20/index.md
      - Hardware: thread_board_router/gl-s20/hardware.md
      - User Manual:
        - Overview: thread_board_router/gl-s20/user_manual/index.md
        - Buttons & LEDs: thread_board_router/gl-s20/user_manual/buttons_and_leds.md
        - Web Admin Panel Guide: thread_board_router/gl-s20/user_manual/web_admin_panel_guide.md
        - App Guide: thread_board_router/gl-s20/user_manual/app_guide.md
        - APIs:
          - Overview: thread_board_router/gl-s20/user_manual/apis/index.md
          - Http RESTful API: thread_board_router/gl-s20/user_manual/apis/http_restful_api.md
          - BLE Network Configuration API: thread_board_router/gl-s20/user_manual/apis/ble_network_configuration_api.md
        - Flash Guide: thread_board_router/gl-s20/user_manual/flash_guide.md
        - Work with Home Assistant: thread_board_router/gl-s20/user_manual/work_with_home_assistant.md
      - Secondary Development Guide:
        - Firmware Compilation Guide: thread_board_router/gl-s20/user_manual/gl-s20-tbr_firmware_compilation_guide.md
    - GL-S200:
      - Overview: thread_board_router/gl-s200/index.md
      - Hardware: thread_board_router/gl-s200/hardware.md
      - Bluetooth: thread_board_router/gl-s200/bluetooth.md
      - Thread Mesh: thread_board_router/gl-s200/thread_mesh.md
      - OpenThread Border Router Codelabs: thread_board_router/gl-s200/openthread_border_router_codelabs.md
      - Work with Home Assistant: thread_board_router/gl-s200/work_with_home_assistant.md
      - OTBR HTTP API: thread_board_router/gl-s200/otbr_http_api.md
      - OTBR MGMT UBUS API: thread_board_router/gl-s200/otbr_mgmt_ubus_api.md
      - Bluetooth Development Guide: thread_board_router/gl-s200/ble_development_guide.md
  - IoT Dev Board:
    - Overview: iot_dev_board/index.md
    - Thread Development Board for GL-S20: iot_dev_board/using_tdb_on_gl-s20.md
